# Backend URL 
VITE_API_URL=http://localhost:5000/api/v1
VITE_SOCKET_URL=http://localhost:5000

# Prototype context defaults
VITE_DEMO_FACILITY_ID=9e268cfd-1e17-47cf-aadb-be42c58ad79f
VITE_DEMO_USER_ID=ac844b2b-cc1b-45a4-9404-e059fdd6df0b
